.title {
  font-size: 28px;
  font-weight: 800;
  line-height: 1.14;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

@media (--tablet)  {
  .title {
    font-size: 40px;
    line-height: 1.1;
  }
}