.text {
  max-width: 343px;
  margin-top: 16px;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 531px;
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    max-width: 540px;
  }
}
