.text {
  max-width: 100%;
  margin-top: 16px;
  color: var(--color-dark);
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: -0.02em;
}

@media (--tablet) {
  .text {
    max-width: var(--subtitle-max-tablet, 443px);
    margin-top: 20px;
    font-size: 16px;
    line-height: 1.5;
  }
}

@media (--desktop) {
  .text {
    max-width: var(--subtitle-max-desktop, 443px);
  }
}
