.list {
  display: grid;
  gap: 32px;
  margin-top: 32px;
}

.listUsers {
  display: grid;
  margin-top: 32px;
}

.listUsers li:not(:last-child) {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid var(--color-gray);
}

.empty,
.emptyUsers {
  margin: 80px auto 0;
  max-width: 343px;
  color: var(--color-gray);
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .list {
    gap: 40px;
  }

  .listUsers li:not(:last-child) {
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .empty,
  .emptyUsers {
    margin-top: 100px;
    max-width: 610px;
    color: var(--color-dark);
    font-size: 16px;
    line-height: 24px;
  }
}

@media screen and (min-width: 1440px) {
  .empty,
  .emptyUsers {
    margin-top: 140px;
  }
}
